body {
        background-color: rgb(209, 181, 223);
}

/*WATCHLIST*/
h1 {
    text-align: center;
    font-family: "Trebuchet MS";
    position: relative;
    font-size: 70px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold; 
    color:#363535;
    }   

    /*Form*/
#mainForm{
    text-align: center;
}    

/*STYLE OF SEARCH LIST*/
.listStyle{
    font-family: "Trebuchet MS";
    color:#363535;
    list-style-type:none;
    line-height: 20px;
    margin-top: -228px;
    margin-bottom: 200px;
    margin-right: 0px;
    margin-left: 242px;
    box-sizing: border-box;
    /*border: 6px solid rgb(160, 160, 160);*/
    border-radius: 20px;
    /*padding-top: 00px;*/
    padding-right: 0px;
    padding-bottom: 150px;
    padding-left: 0px;

}

/*STYLE OF SEARCH LIST*/
#mySearch {
    position: absolute;
    left: 180px;
    top: 250px;
    list-style-type:none;
    /* font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 20;  
    white-space: pre;
    */
}

/*LIST STYLES*/
#myList {
    position: absolute;
    left: 900px;
    top: 200px;
    font-size: 30px; 
    line-height: 10px;
}

#myList :hover{
    text-decoration: line-through;
    cursor: pointer;
    
}

#myList:focus {
    outline: none;
}

/*SEARCH BAR*/
#newInput {
  position: relative;
  line-height: 10px;
  width: 400px;
  height: 70px;
  box-sizing: border-box;
  border: 6px solid rgb(160, 160, 160);
  border-radius: 20px;
  font-size: 16px;
  background-color: white;
  background-image: url("searchicon.png");
  background-position: 5px 8px; 
  background-size: 40px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 70px;
}

#buttons {
    position: relative;
    line-height: 90px; 
    display: none;
}

/*IMAGE IN SERACH LIST*/
.imgStyle {
    position:relative;
    left:-20px;
    /*left: -120px;
    top: 235px;*/
    border: 5px solid #ddd;
    border-radius: 50px;
    width: 150px;
    background-image: url("like.png");
    background-size: 40px;
    background-repeat: no-repeat;
    cursor: pointer;
    /*vertical-align: top;*/
    /*float:left;*/
  }

  /*DOESNT WORK*/
  .iconStyle {
    position:relative;
    left:-40px;
    top: 0px;
    width: 35px;
    vertical-align: top;
    
    width: 60px;
   
  }
  
  .iconStyle :hover {
    background-image: url("like.png");
    background-size: 40px;
    background-repeat: no-repeat;
    /*background-position: 5px 5px;*/
  }

  

