body {
        background-color: rgb(209, 181, 223);
}

/*WATCHLIST*/
h1 {
    text-align: center;
    font-family: "Trebuchet MS";
    position: relative;
    font-size: 70px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold; 
    color:#363535;
    }   

/*Form*/
#mainForm{
    text-align: center;
}    

/*STYLE OF SEARCH LIST*/
.listStyle{
    font-family: "Trebuchet MS";
    color:#363535;
    list-style-type:none;
    line-height: 20px;
    margin-top: -228px;
    margin-bottom: 200px;
    margin-right: 0px;
    margin-left: 242px;
    box-sizing: border-box;
    /*border: 6px solid rgb(160, 160, 160);*/
    border-radius: 20px;
    /*padding-top: 00px;*/
    padding-right: 0px;
    padding-bottom: 150px;
    padding-left: 0px;

}

.watchList{
    font-family: "Trebuchet MS";
    color:#363535;
    list-style-type:none;
    line-height: 80px;
}

/*STYLE OF SEARCH LIST*/
#mySearch {
    position: absolute;
    left: 180px;
    top: 250px;
    list-style-type:none;
}

/*LIST STYLES*/
#myList {
    position: relative;
    left: 300px;
    top: 70px;
    font-size: 30px; 
    line-height: 10px;
    font-family: "Trebuchet MS";
    color:#363535;
}

#myList:focus {
    outline: none;
}

/*SEARCH BAR*/
#newInput {
  position: relative;
  line-height: 10px;
  width: 400px;
  height: 70px;
  box-sizing: border-box;
  border: 6px solid rgb(160, 160, 160);
  border-radius: 20px;
  font-size: 16px;
  background-color: white;
  background-image: url("searchicon.png");
  background-position: 5px 8px; 
  background-size: 40px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 70px;
}

#buttons {
    position: relative;
    line-height: 90px; 
    display: none;
}

/*IMAGE IN SERACH LIST*/
.imgStyle {
    position:relative;
    left:-20px;
    /*left: -120px;
    top: 235px;*/
    border: 5px solid #ddd;
    border-radius: 50px;
    width: 150px;
    background-image: url("like.png");
    background-size: 40px;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  /*DOESNT WORK*/
  .iconStyle {
    position:relative;
    left:-40px;
    top: 0px;
    width: 35px;
    vertical-align: top;
    
    width: 60px;
   
  }
  
  .iconStyle :hover {
    background-image: url("like.png");
    background-size: 40px;
    background-repeat: no-repeat;
  }

  .wasteBin {
      position: relative;
      height: 26px;
      left: 40px;
  }

  .wasteBin :hover{
    cursor: pointer;
}

  

.trash {
	background:#363535;;
	width: 16.5px;
	height: 20px;
	display: inline-block;
	margin:0 auto;
	left:40px;
	position: relative;
	-webkit-border-bottom-right-radius: -4px;
	-webkit-border-bottom-left-radius: -4px;
	-moz-border-radius-bottomright: 200px;
	-moz-border-radius-bottomleft: 200px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}


.trash span {
	position: absolute;
    height: 3px;
    width:16.5px;
	background: #363535;;
	top: -5px;
	left: 0px;
	right: -10px;
	
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	transform: rotate(0deg);
	transition: transform 250ms;
	transform-origin: 19% 100%;
}

.trash:hover span {
	transform: rotate(-45deg);
	transition: transform 250ms;
}

.trashWrapper{
    left:70px;
    display:none;
}

/*HEART ICONS*/
.heartIcons{
    position: relative;
    /*width: 30px;
    height: 30px;*/
    color:#6f6c6c;
    cursor: pointer;
    left: -30px;
    top: 5px;
    /*display:none;*/
  }

  .material-icons {
    font-size: 24px;
  }
  
  #heartBorder-liked{
    position: relative;
    /*color:white*/
    color: rgb(227, 63, 153);
    left: -41px;
  }
  
  #heartIcon{
    position: relative;
    font-size: 30px;
  }
  #heartIcon:hover{
    animation: pulse .6s linear;
  }
  @keyframes pulse {
    50% {
      transform: scale(1.3);
    }
  }

  .liked{
    color: rgb(227, 63, 153);
    
  }